* {
  font-family: "Proza Libre", sans-serif;
}

body {
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 20px;
}

.nav-item {
  font-size: 14px;
  padding-left: 22px;
  text-decoration: none;
  color: rgb(228, 228, 228);
}

.margin-bottom {
  color: rgb(65, 65, 65);
  margin-bottom: 20px;
}

.font-weight-four {
  font-weight: 400;
}

.font-weight-six {
  font-weight: 600;
}

.black {
  color: #292929;
}

.header {
  background-color: #562b80;
  color: rgb(228, 228, 228);
  padding: 15px 0;
}

.img-size {
  width: 100%;
  height: 245px;
  object-fit: cover;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1.5px solid rgb(177, 177, 177);
}

.input:focus {
  border: none;
  outline: 2px solid #562b80;
}

.label {
  margin: 10px 0;
  color: rgb(65, 65, 65);
}

.text-area {
  height: 150px;
  width: 100%;
  border-radius: 4px;
  border: 1.5px solid rgb(177, 177, 177);
  resize: none;
}

.text-area:focus {
  outline: 2px solid #562b80;
  border: none;
}

.button {
  background-color: #562b80;
  color: #ffff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 15px 0;
  cursor: pointer;
}

.delete-entry-button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #dc2626;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.new-button {
  padding: 2px 20px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.p-font {
  font-family: sans-serif;
  font-weight: 200;
}

.fa {
  color: #562b80;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .margin {
    margin: 0;
    padding: 0;
  }
}
